/metadata.json

# Test Kitchen
/.kitchen/
/.kitchen.local.yml

# CTags files
/tags

# Bundler
/Gemfile.lock
/bin/
/.bundle/

# Berkshelf
/Berksfile.lock
/.vagrant/

# Editor temp files
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
